In [1]:
%connect local, hidewarnings=True

Password: ··········

Success: 'local' connection established and activated for user 'demo_user', with default database 'demo_user'

In [ ]:
-- Test
SELECT COUNT(*)
FROM BANK_DB.transactions

,Count(*)
1,1000

In [13]:
-- Test
SELECT COUNT(*)
FROM BANK_DB.branches

,Count(*)
1,100

In [15]:
-- Test
SELECT *
FROM BANK_DB.transactions
SAMPLE 10

,transaction_id,transaction_currency,transaction_type,transaction_amount,branch_id
1,937,USD,Withdrawal,15256.89,99
2,322,USD,Deposit,14915.85,61
3,112,USD,Withdrawal,17338.36,24
4,843,USD,Payment,10559.02,82
5,384,USD,Payment,16642.20,47
6,87,USD,Payment,1013.87,32
7,380,USD,Deposit,17243.58,74
8,23,USD,Transfer,2657.81,45
9,706,USD,Withdrawal,6611.96,11
10,767,USD,Deposit,6818.45,99

In [16]:
-- Test
SELECT *
FROM BANK_DB.branches
SAMPLE 10

,branch_id,branch_name,governorate,branch_address,latitude,longitude
1,61,Citi Bank South Christopher,Montana,"7365 Jason Camp Apt. 793, Campbellborough, IA 94981",37.945097,-80.011863
2,63,Citi Bank Lake Cindy,Massachusetts,"8182 Hawkins Lodge, West Maria, PA 39134",32.779745,-124.966258
3,54,Citi Bank South Scottmouth,North Carolina,"24836 Joshua Forks, North Julie, HI 06782",35.434366,-118.418422
4,74,Citi Bank East Vincent,Kentucky,"17672 Berry Point Apt. 595, Schwartzview, OH 20335",42.518346,-93.181531
5,93,Citi Bank Melissamouth,Pennsylvania,"3443 Conner Mount, New Jessica, VA 41268",33.143263,-101.245344
6,52,Citi Bank Lake Amanda,Rhode Island,"963 Emily Creek, Andreafort, NE 24854",37.887288,-84.779088
7,29,Citi Bank Roytown,Texas,"2869 Dunn Manor Apt. 474, North Breannaview, CT 76546",42.499043,-114.902820
8,2,Citi Bank Gonzalezchester,North Dakota,"3777 Candice Village Apt. 438, Staceymouth, TX 13680",30.357058,-108.773270
9,67,Citi Bank Cheryltown,Georgia,"110 Vasquez Shores Apt. 306, North Curtisborough, VT 54080",47.726787,-73.197434
10,86,Citi Bank Port Joanland,Virginia,"5680 Moreno Avenue, Wendychester, MI 79147",38.705034,-69.804660